<h1>Hello Airbnb's</h1>

<ul>
    <% @houses.each do |house| %>
        <li>
            <%= house.title%>
            <dt><%= house.image%></dt>
            <dt><%= house.description%></dt>
            <dt><%= house.price%></dt>
        </li>
        <% end %>

</ul>